In [1]:
!pip3 install --upgrade pip

'pip3' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.

## Introduzindo Operações Básicas com Tipos Numéricos e Booleanos

1 - Compute a saída da seguinte expressão matemática sem realizar nenhuma simplificação:
$ a^{2} + \frac{3}{4} \times b \times 987(c - \frac{10^{-9}}{\sqrt{0.5^{3}}}) $. Assuma que os valores das variáveis a, b e c correpondam a 2, 4 e 8, respectivamente. Armazene o resultado em uma variável.

Dica: consulte os operadores aritméticos disponíveis no Python. Utilize a biblioteca math para operação de raiz.

In [4]:
# Insira a resposta abaixo.

2 - Armazene em uma variável o resto da divisão da expressão anterior por 23691.

In [5]:
# Insira a resposta abaixo.

3 - Cheque se a saída do resto da divisão é ***i) igual a 1***, ***ii) maior que 1***, ***iii) menor ou igual que 1*** e ***iv) diferente de 1***. Utilize a função *print* para exibir a saída de cada checagem. Consulte os operadores relacionais disponívels no Python.

In [6]:
# Insira a resposta abaixo.

4 - Exiba a saída de operações booleanas do tipo **AND** e do tipo **OR** entre dois termos que apresentem valores: 
1. **verdadeiros**;
2. **verdadeiro e falso**;
3. **falsos**.

Ao todo devem ser apresentadas seis operações.

In [7]:
# Insira a resposta abaixo.

5 - Escreva a seguinte expressão booleana **(A + B) . (¬B . A)**. Considere que "+" indica uma operação  OR; "." indica uma operação AND e ''¬'' indica uma operação de negação (NOT). Defina previamente a variávei *A* com valor verdadeiro e a variávei *B* com valor falso.

In [8]:
# Insira a resposta abaixo.

6 - Cheque se a saída da expressão booleana da questão imediatamente anterior é falsa.

In [9]:
# Insira a resposta abaixo.

## Introduzindo Operações com Strings

Dica: você pode utilizar a função *help(arg)* para visualizar os métodos que podem ser acessados a partir de uma variável de um tipo qualquer.

Segue abaixo alguns exemplos:

```
# Exemplo usando como argumento a função que representa o tipo de dado
help(str)

# Exemplo usando uma variavel qualquer
a = "teste"
help(a)

# Exemplo utilizando uma variavel do tipo dicionário
dicionario = {"chave":"valor"}
help(dicionario)

```

7 - Defina uma variável com o valor "hello wORld". Utilize as funções de string do Python para reproduzir as seguintes saídas: "Hello World", "hello world", "HELLO WORLD".  Dica: para visualizar as funções disponíveis digite em uma célula de código `'str' ` e em seguida tecle tab.

In [10]:
# Insira a resposta abaixo.

a = "hello wORld"
print(a.title())
print(a.upper())
print(a.lower())

Hello World
HELLO WORLD
hello world

8 - Dada a seguinte frase " *Esse é o seu primeiro tweet.* ", remova os espaços em branco das extremidades. Em seguida, substitua a palavra *'primeiro'* por *'segundo'*. 



**Observação:** a operação para remoção de espaços não atua em um modo '*in-place*', isto é, não altera diretamente o objeto, apenas retorna uma cópia modificada que pode ser armazenada em uma variável. A seguir, pode-se conferir um exemplo de uma operação que não é in-place e requer que assinalemos uma variável para receber a modificação.

In [11]:
# EXEMPLO: operação que não atua em modo 'in-place'

a = 'teste'

# primeiro caso
a.replace('ste', 'sta')
print(a)

# segundo caso
a = a.replace('ste', 'sta')
print(a)

teste
testa

In [12]:
# Insira a resposta abaixo.

9 - Fazendo uso do resultado da questão anterior, exiba a quantidade de ocorrências da palavra *'segundo'* e em seguida a quantidade de caracteres *'s'*.

In [13]:
# Insira a resposta abaixo.

10 - Concatene duas variáveis do tipo strings com valores arbitrários e exiba o resultado.

**Observação:** A string resultante deve possuir no mínimo quatro caracteres.

In [14]:
# Insira a resposta abaixo.

11 - Utilize a indexação e exiba apenas do segundo ao quarto caractere da variável do tipo string resultante questão imediatamente anterior.

In [15]:
# Insira a resposta abaixo.

ala

12 - Exiba a string "Mensagem: " seguida pela string armazenada na variável *msg* definida abaixo. Dica: utilize a função format().

In [18]:
msg = "This is your first tweet."
# Insira a resposta abaixo.

13  - Reproduza as próximas três mensagens a partir das variáveis definidas na célula de código.

**Mensagem**: Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

In [19]:
tipo_var = "string"
qtd = "três"
# Insira a resposta abaixo.

**Mensagem**:  O número pi é aproximadamente 3.14

In [21]:
pi = 3.14159
# Insira a resposta abaixo.

**Mensagem**: O meu nome é [*receber string via input*] e eu tenho [*receber inteiro via input*] anos.

In [22]:
# Insira a resposta abaixo.

## Introduzindo Estruturas de Dados

Nessa sessão serão exploradas as estruturas de dados do tipo lista, tupla e dicionário. Para realizar os exercícios abaixos baseados em listas podem ser utilizados métodos como *sum(arg), extend(), reverse(), append(), insert(index, element), sort()*.

### Listas

14 - Realize as seguintes operações:


1. Crie uma lista vazia.
2. Adicione três elementos do tipo inteiro ao final da lista (*o método para adição de novos elementos em uma lista atua de forma in-place, portanto, basta invocá-lo.*).
3. Adicione um novo elemento na segunda posição da lista (*método in-place).
4. Exiba a soma dos quatro elementos (*python já possui uma função built-in para esssa operação*.)
5. Re-assinale o elemento da terceiro posição com um valor do tipo float.
6. Repita o passo 4.
7. Inverta os elementos da lista atual. (*função para inversão é in-place*)
8. Re-ordene os elementos da lista.
9. Armazene uma nova lista em uma variável qualquer com 2 números inteiros.
10. Concatena a nova lista criada com a lista resultante do passo 7.
11. Exiba o valor máximo e mínimo da resultante do passo anterior.

In [23]:
# Insira a resposta abaixo.

15 - Converta a string definida abaixo em uma lista de palavras, armazene a lista em uma variável. Dica: cheque as operações disponíveis para strings.

In [24]:
frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"

# Insira a resposta abaixo.

16 - Verifique se a palavra "Humanos" está contida na lista de palavras criada anteriormente. Exiba True ou False para indicar a resposta.

In [25]:
# Insira a resposta abaixo.

17 - Crie automaticamente uma lista contendo 50 elementos de valor 3 e armazene-a em uma variável. Dica: utilize o operador de multiplicação.

In [26]:
# Insira a resposta abaixo.

### Tuplas

18 - Converta a lista resultante da primeira questão sobre Listas para uma tupla e exiba o tipo de dados do objeto criado. Após realizar o casting, utilize a indexação para exibir todos os elementos com exceção do primeiro e último.

In [27]:
# Insira a resposta abaixo.

19 - Exiba os atributos/métodos disponíveis a partir objetos do tipo lista e tuple utilizados na questão anterior. Dica: utilize o método dir.

In [28]:
# Insira a resposta abaixo.

In [29]:
# Insira a resposta abaixo.

20 - Crie uma tupla contendo 5 números inteiros quaisquer. Em seguida, exiba o valor máximo e o valor mínimo da tupla criada.

In [30]:
# Insira a resposta abaixo.

### Dicionários

21 - A partir do dicionário inicializado abaixo com quatro items, adicione três novos items com chaves "three", "four" e "five" e valores "três", "quatro" e "cinco".

In [31]:
my_dict = {}
my_dict["one"] = "um"
my_dict["two"] = "dois"
my_dict[(1,2)] = ["um","dois"]
my_dict[1.3] = "um ponto três"

22 - A partir do dicionário definido anteriormente, remova o item ("one", "um") do dicionário.

In [32]:
# Insira a resposta abaixo

23 - A partir do dicionário definido anteriormente, realize as seguintes operações ordenadamente.

1.   Exiba a quantidade de items do dicionário.
2.   Gere automaticamente uma lista contendo as  chaves do dicionário.
3.   Gere automaticamente uma lista contendo os valores do dicionário.
4.   Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
5.   Remova os items cuja chaves são (1,2) e 1.3.
6.   Exiba o dicionário final

In [33]:
# Insira a resposta abaixo

# Passo 1


# Passo 2


# Passo 3


# Passo 4 


# Passo 5


# Passo 6

24 - A partir dos dicionários '*en*' e '*pt_br*' definidos abaixo, crie um terceiro dicionário denominado '*translator*' cujas chaves são, respectivamente, 'en' e 'pt_br' e os valores sejam os dicionários correspondentes. Exiba o dicionário criado.

In [34]:
en = {1:"um", 2:"dois", 3:"tres"}
pt_br = {1:"one", 2:"two", 3:"three"}

# Insira a resposta abaixo

1. A partir da string definida abaixo, obtenha uma lista contendo os caracteres únicos.
2. Em seguida, crie um dicionário no qual a chave representa o caractere e o valor represente a sua posição na lista criada anteriormente.
3. Converta cada string contida na lista "X" em lista de caracteres, resultando em uma lista de listas.
4. Converta cada frase

In [35]:
# Insira a resposta abaixo

### Estruturas de Decisão

25 - Utilize estruturas de decisão se-senão para construir um script que simule a árvore de decisão disposta na figura abaixo. Para cada nó da árvore, o usuário deve fornecer um valor a ser armazenado em uma variável e utilizado para verificar o fluxo que deve ser seguido até atingir uma das folha, exibindo algum dos valores "Opção 1", "Opção 2" ou "Opção 3".


![alt text](https://docs.google.com/uc?export=download&id=1O4rn7YIeOpUcFibD40ir2zJAqfobZIs2)

### Estruturas de Repetição

for (with range), while, list comprehension

26 - Crie um programa que receba do usuário uma entrada referente a string "Please, type 'q' to quit". Enquanto o usuário não digitar o caractere 'q', o programa deve exibir "Sorry, try again." e continuar solicitando a informação. Dica: utilize o comando break para interrupção.

In [36]:
# Insira a resposta abaixo.

27 - Crie um programa que imprima apenas os números ímpares entre 1 e 100.

In [37]:
# Insira a resposta abaixo.

28 - A partir da lista definida abaixo, crie uma nova lista contendo apenas os números negativos. Dica: considere utilizar o modo list comprehension.

In [38]:
lista = [-6, 21, -22, 4, -17, -21, 22, -11, 3, 28]
# Insira a resposta abaixo.

29 - Converta a string definida abaixo em uma lista de palavras. Em seguida, crie um dicionário cujas chaves são as palavras contidas no texto e os valores representem a quantidade de ocorrências da palavra em questão.

In [39]:
texto = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus consequat libero sed eleifend. Mauris pulvinar quam pharetra 
est efficitur maximus. Mauris tincidunt neque cursus ante vehicula viverra. Nullam neque neque, lobortis ut lacinia in, euismod non purus. 
Quisque egestas pellentesque nulla eget egestas. In sem felis, pellentesque bibendum hendrerit varius, dapibus blandit libero. Nunc 
fermentum id risus vel suscipit. Aenean laoreet posuere purus ac viverra. Sed vitae sem finibus, tempor magna a, iaculis ex. Pellentesque 
sit amet scelerisque purus, quis volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus est metus, vitae 
molestie elit porta a. Praesent pharetra odio id purus auctor porttitor a ut risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
'''
# Insira a resposota abaixo.

Ordene o dicionário abaixo seguindo uma ordem alfabética. 

Dicas: 
1. Python já possui uma função built-in ordenação de listas
2. É possível utilizar uma estrutura de repetição para construir um novo dicionário.

In [40]:
# Insira a resposta abaixo.

31 - Na lista 'colors' definida abaixo têm-se três tipos diferentes de cores. A partir dela, crie uma nova lista na qual cada string deve assumir uma lista com valores inteiros seguindo uma estratégia binária da seguinte forma:

```
red,	green,	blue
[1,		0,		0]
[0,		1,		0]
[0,		0,		1]

```

Dica: crie uma lista com os três possíveis valores e utilize a posição do elemento.

In [41]:
colors = ['blue', 'blue', 'green', 'blue', 'red', 'red', 'green', 'blue', 'green', 'red']

# Insira a resposta abaixo

32 - A partir da lista resultante da questão imediatamente anterior,  reverta o processo e retorne uma lista contendo as strings 'blue', 'green' e 'red'.

In [42]:
# Insira a resposta abaixo

## Funções

33 - Crie uma função que calcule o fatorial de um número passado como argumento. Caso o número seja negativo, retorne um valor nulo. Caso positivo, retorne o resultado do fatorial. Dica: utilize recursividade e lembre-se de considerar que o fatorial de 0 é 1.

In [52]:
# Insira a resposta abaixo

34 - Define uma função que receba um número arbitrário de argumentos e retorne a sua soma. Exiba o resultado de uma chamada dessa função passando como argumentos números inteiros.

In [ ]:
# Insira a resposta abaixo.

### Funções Especiais

Nessa sessão serão explorados exercícios baseados em funções especiais do Python, tais como range, lambda, map, filter, enumerate e zip.

35 - Utilize a função *range* para criar uma lista de números inteiros que vai de 100 a -100, seguindo uma ordem decrescente e com intervalos de duas unidades. Exiba a lista gerada.

In [53]:
# Insira a resposta abaixo.

36 - Crie uma função anônima que tenha como entrada um único parâmetro e retorne a sua raiz caso o número informado seja maior ou igual a 0. Em caso de números negativos, retorne um valor nulo. Teste a função para os valores -9, 0, 9. Dica: utilize a biblioteca math para acessar operações matemáticas.

In [ ]:
# Insira a resposta abaixo.

37 - Uma pesquisa de satisfação dos empregados de uma determinada empresa reuniu dados referente a um questionário no qual foi computado o nível de satisfação do empregado em relação ao salário recebido. Os valores salariais estão armazenados na variávei 'salarios' e pontuação do questionário está armazenada na variável 'satisfacao_empregado'. Realize os seguintes procedimentos.

1. A partir da lista satisfacao_empregados, gere uma nova lista com valores normalizados entre 0 e 1.  Fórmula para normalização: $ \frac{x_i - x_{min}}{x_{max} - x_{min}} $
2. Crie a seguinte função: $ f(x) = 0.0004x -0.4 $. A função recebe como entrada um unico número inteiro.
3. Utilize a função criada no passo anterior para criar uma nova lista a partir da lista '*salarios*'. Armazene-a em uma variável denominada '*satisfacao_estimada*'.
4. Crie uma função que receba como entrada duas listas e compute $ \frac{1}{n}\sum_{i=0}^{n}(a_i - b_i)^2 $. Assuma que $n$ seja o número de elementos de qualquer uma das listas e $a$ e $b$ correspondam a valores das listas em uma mesma posição $i$.

Dica: considere utilizar a função map e a função anônima lambda para os procedimentos simples como, por exemplo, dos passos 1 ao 3.

In [54]:
# Insira a resposta abaixo.
salarios = [1000, 1500, 2000, 2500, 3000, 3500]
satisfacao_empregados = [40, 50, 60, 70, 80, 90]

# Insira abaixo a funcao para normalizar a lista satisfacao_empregados
minimo = min(satisfacao_empregados)
maximo = max(satisfacao_empregados)
satisfacao_empregados_normalizado = list(map(lambda i:(i-minimo)/(maximo-minimo), satisfacao_empregados))
print(satisfacao_empregados_normalizado)
exit()
# Insira abaixo a funcao para calcular a satisfacao 
def f_(x):
  return 0.0004 * x - 0.4

satisfacao_estimada = map(lambda i:f_(i), salarios)

# Insira a funcao para calcular o erro quadratico minimo
def erro_medio(lst1, lst2):
  soma = sum([(n1 - n2)**2 for n1, n2 in zip(lst1, lst2)])
  erro_medio = soma / len(lst1)
  return erro_medio

print(erro_medio(satisfacao_empregados_normalizado, satisfacao_estimada))

[0.0, 0.2, 0.4, 0.6, 0.8, 1.0]
2.5679065925163146e-33

38 - A partir da lista definida abaixo, filtre-a de forma que somente as palavras com menos de 3 caracteres sejam mantidas. Dica: utilize a função filter.

In [3]:
lista = ['tempor', 'erat,', 'in,', 'elit', 'Etiam', 'tincidunt.', 'rutrum', 'ut,', 'lacinia', 'Integer', 'Nam', 'turpis', 'Nulla', 'non.', 'vehicula', 'diam', 'porttitor', 'blandit', 'Sed', 'pharetra', 'erat', 'hendrerit', 'tristique', 'vulputate', 'faucibus.', 'augue.', 'potenti.', 'vel', 'eros', 'imperdiet,', 'a.', 'dolor.', 'pretium', 'Fusce', 'sit', 'ornare', 'Morbi', 'quis', 'fringilla', 'lobortis', 'tempus', 'mauris', 'ante,', 'lacus', 'porta.', 'faucibus,', 'quis.', 'vestibulum', 'primis', 'luctus,', 'ullamcorper.', 'augue', 'nec', 'mollis', 'lectus', 'dolor', 'sodales', 'ligula,', 'dignissim', 'sem', 'varius', 'mi', 'eu', 'elit.', 'semper', 'id,', 'tempus.', 'finibus.', 'neque', 'quam.', 'scelerisque', 'lorem', 'diam,', 'Cras', 'nisi', 'Lorem', 'leo,', 'Ut', 'ut', 'feugiat.', 'ante', 'venenatis', 'fermentum', 'congue', 'urna', 'Praesent', 'Donec', 'Vestibulum', 'purus.', 'Nullam', 'tincidunt', 'efficitur', 'velit', 'commodo.', 'iaculis', 'sed,', 'volutpat', 'amet', 'mauris.', 'odio', 'a', 'Interdum', 'neque.', 'risus', 'vitae', 'consectetur', 'adipiscing', 'at', 'Aliquam', 'molestie', 'euismod', 'odio.', 'sed', 'in', 'suscipit', 'augue,', 'sapien', 'posuere', 'euismod,', 'ipsum', 'et.', 'maximus.', 'risus,', 'Suspendisse', 'et', 'facilisis', 'elementum', 'efficitur,', 'ac', 'nulla.', 'quam', 'arcu', 'fames', 'Nunc', 'pharetra,', 'laoreet', 'ligula', 'fermentum,', 'auctor', 'tortor,', 'Curabitur', 'eget', 'finibus', 'ultrices', 'malesuada', 'purus', 'congue,', 'amet,', 'fermentum.', 'dui']

# Insira a resposta abaixo.

39 - A partir da lista definida abaixo, gere automaticamente e exiba um dicionário enumerado do tipo:

```
dicionario = {0: 'Preprocessing', 1: 'Feature Extraction', 2: 'Feature Selection' ...}

```

Em seguida, gere a seguinte saída:

Step 1 - Preprocessing

Step 2 - Feature Extraction

Step 3 - Feature Selection

Step 4 - Classification

Step 5 - Post Processing

In [2]:
lst = ["Preprocessing", "Feature Extraction", "Feature Selection", "Classification", "Post Processing"]

# Insira a resposta abaixo.

40 - Realize os seguintes procedimentos:
1. Crie uma lista de números inteiros de 1 a 4 com incremento de 1 em 1.
2. Crie uma lista contendo quatro strings.
3. Utilize uma única estrutura de repetição do tipo *for* para iterar paralelamente sobre os quatro elementos de cada uma das duas listas. Exiba os elementos.

In [4]:
# Insira o código abaixo.

## Orientação à Objetos

41 - Crie uma classe que modele um ser humano, esta deve possuir os seguintes atributos e métodos:
* nome
* idade
* peso
* altura
* envelhecer()
* engordar()
* emagrecer()
* crescer()

O acesso aos atributos deve ser realizado através de métodos. O método envelhecer adicionar +1 na idade, o método engordar adiciona +1 no peso, o método emagrecer subtrai -1 no peso e o método crescer adicionar +1 na altura. Considere que a cada ano em que a pessoa envelhece, ela deve crescer 1 cm caso a idade dela seja menor que 20 anos.

In [ ]:
# Insira a resposta abaixo.

42 - Instancie um objeto da classe Humano com 17 anos, 170 cm de altura e 70 quilos e realize os seguintes passos:
* Exiba a idade e altura antes e após chamar o método envelhecer.
* Exiba o peso antes e após chamar o método engordar.
* Exiba o peso antes e após chamar o método emagrecer.

In [5]:
# Insira a resposta abaixo.

43 - Crie uma classe que modele um Funcionario, ela deve herdar todas as características da classe Humano, além dos seguintes atributos:

* profissao
* salario

O acesso aos atributos deve ser realizado através de métodos.

In [ ]:
# Insira a resposta abaixo.

44 - Crie um objeto da classe Funcionario que realize os seguintes passos:
* Exiba o nome do funcionário
* Exiba a profissao inicial e uma nova profissão assinalada ao objeto.
* Exiba o salário inicial e o salário após um aumento de 500 reais.

In [ ]:
# Insira a resposta abaixo.